In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")

In [3]:
df = pd.read_csv("Maharashtra_Air_Pollution.csv", parse_dates=["Date"])

In [4]:
print(df.head())       # Displays the first 5 rows of the dataset
print(df.info())       # Shows column names, data types, and missing values

        Date    City  PM2.5  PM10  NO2  SO2   CO  O3
0 2024-01-01  Mumbai    105   180   45    8  1.2  30
1 2024-01-01    Pune     90   150   38    6  1.0  35
2 2024-01-01  Nagpur     75   140   42    5  0.8  40
3 2024-02-01  Mumbai     98   170   40    7  1.1  32
4 2024-02-01    Pune     85   145   36    6  0.9  36
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    12 non-null     datetime64[ns]
 1   City    12 non-null     object
 2   PM2.5   12 non-null     int64
 3   PM10    12 non-null     int64
 4   NO2     12 non-null     int64
 5   SO2     12 non-null     int64
 6   CO      12 non-null     float64
 7   O3      12 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(1)
memory usage: 900.0+ bytes
None

In [5]:
df.ffill(inplace=True)

In [6]:
print(df.describe())

                      Date       PM2.5        PM10        NO2        SO2  \
count                   12   12.000000   12.000000  12.000000  12.000000
mean   2024-02-15 12:00:00   83.166667  143.750000  38.666667   5.583333
min    2024-01-01 00:00:00   68.000000  115.000000  33.000000   4.000000
25%    2024-01-24 06:00:00   74.250000  130.000000  36.750000   4.750000
50%    2024-02-15 12:00:00   82.500000  142.500000  38.500000   5.500000
75%    2024-03-08 18:00:00   90.500000  152.500000  40.250000   6.250000
max    2024-04-01 00:00:00  105.000000  180.000000  45.000000   8.000000
std                    NaN   11.753787   19.554702   3.256695   1.311372

              CO         O3
count  12.000000  12.000000
mean    0.858333  35.666667
min     0.600000  30.000000
25%     0.700000  33.750000
50%     0.850000  36.000000
75%     1.000000  38.000000
max     1.200000  40.000000
std     0.192865   2.994945

In [7]:
print(df.isnull().sum())

Date     0
City     0
PM2.5    0
PM10     0
NO2      0
SO2      0
CO       0
O3       0
dtype: int64

In [8]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

In [9]:
yearly_avg = df.groupby('Year')[['PM2.5', 'PM10', 'NO2', 'SO2', 'CO', 'O3']].mean()
print(yearly_avg)

          PM2.5    PM10        NO2       SO2        CO         O3
Year
2024  83.166667  143.75  38.666667  5.583333  0.858333  35.666667